# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# AUTH.JS (NEXTAUTH)
AUTH_SECRET="REPLACE_WITH_RANDOM_SECRET"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# PLAID API
PLAID_CLIENT_ID=""
PLAID_SECRET=""
PLAID_ENV="sandbox" # sandbox, development, production
